.container-geral-products {
  align-items: center;

  /* background-color: #f5f5f5; */
  display: flex;
  flex-flow: column nowrap;

  /* height: 100vh; */
  justify-content: center;
  width: 95%;
}

.container-geral-button-page-products {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;

  /* margin-top: 20px; */
  width: 120px;
}

.container-geral-card-products {
  align-items: center;
  border: solid 1px blue;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.container-geral-card-product {
  align-items: center;
  border: solid 1px red;
  display: flex;
  flex-flow: column nowrap;
  height: 180px;
  justify-content: center;
  margin: 5px;
  width: 160px;
}

.container-geral-card-product input {
  width: 80px;
}
